*.obj
*.iml
*.pyc
.vs/
*.pdb
*.ilk
*.o

.DS_Store

examples/host/host.exe
examples/host/host
examples/client/client.exe
examples/client/client

examples/android/build
examples/android/captures
examples/android/app/build
examples/android/app/libs
examples/android/app/.externalNativeBuild
examples/android/local.properties
examples/android/.gradle
examples/android/.idea

examples/ios/sdk-demo.xcodeproj/project.xcworkspace
examples/ios/sdk-demo.xcodeproj/xcuserdata

examples/unity/Build.app/
examples/unity/Build/
examples/unity/Library/APIUpdater/
examples/unity/Library/PackageCache/
examples/unity/Library/PlayerDataCache/
examples/unity/Library/ScriptAssemblies/
examples/unity/Library/ShaderCache/
examples/unity/Library/StateCache/
examples/unity/Library/metadata/
examples/unity/Library/cache/
examples/unity/Temp/
examples/unity/Library/*.log
examples/unity/unity.csproj
examples/unity/unity.sln
examples/unity/ParsecUnityExample.sln
examples/unity/.vs/
examples/unity/obj/
examples/unity/mcs.rsp

